factory-with-switch/.idea/misc.xml
factory-with-switch/.idea/modules.xml
factory-with-switch/.idea/sonarlint/issuestore/index.pb
factory-with-switch/.idea/sonarlint/securityhotspotstore/index.pb
factory-with-switch/.idea/uiDesigner.xml

